# Aesthetic aliases
alias asciiquarium="perl /usr/local/bin/asciiquarium"

# Cmus stuff
alias cmn="cmus-remote --next"
alias cmr="cmus-remote --previous"
alias cmp="cmus-remote --play"
alias cmu="cmus-remote --pause"
alias cmq="cmus-remote --query"

# Clipboard aliases
alias copy="xsel -ib"
alias paste="xsel -ob"

# Tmux stuff
alias tas="tmux attach-session"
alias tat="tmux attach-session -t"
alias tkt="tmux kill-session -t"
alias tls="tmux list-sessions"
alias tns="tmux new -s"

# Misc stuff
alias bat=batcat

# Git stuff
alias adog="git log --all --decorate --oneline --graph"
alias gadd="git add"
alias gau="git add -u"
alias gbr="git branch"
alias gca="git commit -a"
alias gcam="git commit -am"
alias gcm="git commit -m"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gcom="git commit"
alias gdff="git diff"
alias gfa="git fetch --all"
alias glf="git ls-files"
alias gll="git pull"
alias glla="git pull --all"
alias gmrg="git merge"
alias gmxo="git merge -X ours"
alias gmxt="git merge -X theirs"
alias gpa="git push --all"
alias gpsh="git push"
alias grhh="git reset HEAD --hard"
alias grs="git reset --soft"
alias gshow="git show"
alias gsp="git stash pop"
alias gst="git status"
alias gstash="git stash"
alias wip="git commit -am \"wip\""
