[core]
    editor = vi
[init]
    defaultBranch = main
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[rerere]
	enabled = true
[maintenance]
	auto = false
	strategy = incremental
[include]
	path = .gitconfig.github
[includeIf "gitdir:~/repos/kernels/"]
	path = .gitconfig.kernels
