[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[core]
    editor = vi
[init]
    defaultBranch = main
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
